.slider-volsense {
  -webkit-appearance: none;
  appearance: none;
  top: 1vh; /* Position the slider */
  left: 1vw; /* Position the slider */
  width: 30%; /* Full-width */
  height: 1vh; /* Slider thickness */
  background: #c97070;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider-volsense:hover {
  opacity: 1;
}

.slider-volsense::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vh; /* Handle height */
  height: 2vh; /* Handle width */
  background-color: #ff0000; /* Red thumb */
  border: 0.1vh solid #000000; /* Black border */
  border-radius: 50%;
  cursor: pointer;
}

.slider-volsense::-moz-range-thumb {
  width: 2vh; /* Handle height */
  height: 2vh; /* Handle width */
  background-color: #ff0000; /* Red thumb */
  border: 0.1vh solid #000000; /* Black border */
  border-radius: 50%;
  cursor: pointer;
}

.slider-raindrop {
  -webkit-appearance: none;
  appearance: none;
  top: 2vh; /* Position the slider */
  left: 1vw; /* Position the slider */
  width: 30%;
  height: 1.5vh;
  background: #92b8f8;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider-raindrop:hover {
  opacity: 1;
}

.slider-raindrop::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1vw; /* Increase width to accommodate border */
  height: 2vh; /* Increase height to accommodate border */
  background-color: #7997cc; /* Blue thumb */
  border: 0.1vh solid #000000; /* Black border */
  border-radius: 50% 50% 50% 50%; /* Round the corners */
  clip-path: polygon(
    50% 0%,
    0% 75%,
    25% 100%,
    75% 100%,
    100% 75%
  ); /* Create a raindrop shape */
  cursor: pointer;
  box-sizing: border-box; /* Ensure border is included in the element's dimensions */
}

.slider-raindrop::-moz-range-thumb {
  width: 24px; /* Increase width to accommodate border */
  height: 34px; /* Increase height to accommodate border */
  background-color: #7997cc; /* Blue thumb */
  border: 2px solid #000000; /* Black border */
  border-radius: 50% 50% 50% 50%; /* Round the corners */
  clip-path: polygon(
    50% 0%,
    0% 75%,
    25% 100%,
    75% 100%,
    100% 75%
  ); /* Create a raindrop shape */
  cursor: pointer;
  box-sizing: border-box; /* Ensure border is included in the element's dimensions */
}

body{
  overflow: hidden; /* Hide scroll bars */
}
